body {
    min-height: 100vh;
    color: plum;
    font-family: monospace;
    background-color: #C1FFFB;
    background: linear-gradient(to top, rgb(162, 217, 236) 0%, rgb(195, 232, 243) 40%, rgb(181, 235, 253) 100%);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    cursor: url('cloud.gif'), auto;
}

a {
    color: dimgray;
}

a:visited {
    color: dimgray;
}

main {
    font-size: 1.5em;
    margin: 0.2em;
    width: 100vw;
    height: 75vh;
}

.please {
    font-family: cursive;
    background-color: LavenderBlush;
    color: plum;
    padding: 0.56789em;
    border-radius: 1em;
    border: 1px dotted gainsboro;
    animation: floatIn 2s forwards;
    height: 1em;
    width: 3.888em;
    text-align: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    cursor: url('teardrop.gif'), auto;
}

.clicked {
    animation: popOut 1s forwards;
}

.please:before {
    content: 'please';
}

header {
    text-align: center;
}

footer {
    border-top: 1px solid gainsboro;
    color: dimgray;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1 {
    font-size: 8em;
    animation: byebyebye 26s forwards;
}

@keyframes byebyebye {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
        color: gainsboro;
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}